# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules

# Compilado / Producción
dist
dist-ssr

# Variables de entorno
.env*
*.local

# Archivos de sistema
.DS_Store
Thumbs.db
ehthumbs.db

# Configuración del editor
.vscode/*
!.vscode/extensions.json
.idea

# Proyectos MS / Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos temporales
*.sw?
*.tmp
*.bak
